.month-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: #e0e0e0;
  border: 1px solid #E0E0E0;
}

.weekday, .day {
  background-color: white;
  border: 1px solid #E0E0E0;
  padding: 8px;
}

.weekday {
  font-size: 12px;
  font-weight: 400;
  color: #4F4F4F;
}

.day {
  min-height: 244px;
  max-height: 414px;
  text-align: left;
  position: relative;
  overflow-x: hidden;

}

.date {
  font-size: 13px;
  font-weight: 700;
  color: #4F4F4F;
}

.other-month {
  background-color: #f5f5f5;
}

button {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: #4285f4;
  color: white;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 16px;
  line-height: 1;
  cursor: pointer;
}

.note-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.event-list{
  .event-container:hover{
    background-color: #DCFEFD;
  }
  
  .event-container {
    height: 40px;
    box-sizing: border-box;
    border-radius: 2px;
    border-bottom: 1px solid #E0E0E0;
    padding: 4px 4px 8px 4px;
    gap: 8px;
    overflow: hidden;
    z-index: 2;
    width: 100%;
        .time-container {
          color: #00A799;
          display: flex;
          width: fit-content;
          border-radius: 6px;
          gap: 8px;
          font-size: 12px;
          font-weight: 400;
          line-height: 16.8px;
          text-align: left;
      }
      .marshal-container {
        display: inline-block;
        max-width: 100%; /* Ensures the content doesn't overflow its container */
        font-size: 12px;
        font-weight: 700;
        color: #2A706B;
        flex-grow: 1; 
        line-height: 16.8px; /* Vertically centers the text */
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; /* Prevents wrapping */
        vertical-align: middle; /* Ensures vertical centering */
      }
      .ticket-container {
        align-self: center; /* Centers content vertically */
        flex-shrink: 0; /* Prevents shrinking */
        font-size: 14px;
        color: #2A706B;
        font-weight: 400;
        line-height: 26px;
      }
    }
}



.more-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  height: 26px;
  width: fit-content;
  border-radius: 6px;
  padding: 8px;
  gap: 8px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16.8px;
}
.more-container:hover{
  background-color: #DCFEFD;
}

.popover {
  position: absolute;
  padding: 8px 12px 8px 12px;
  background-color: #333333;
  width: max-content;
  z-index: 2;
  max-height: 140px;
  max-width: 185px;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  .message-container{
    color: #FFFFFF;
    line-height: 16.8px;
    font-size: 12px;
    font-weight: 400;
    .message-name{
      font-weight: 700;
    }
  }
}
.popover::-webkit-scrollbar {
  display: none;
}

.popover-event-container {
  margin-bottom: 5px;
}
