<div class="month-grid">
  <div *ngFor="let day of weekDays" class="weekday">{{ day }}</div>
  <ng-container class="week" *ngFor="let week of calendarDays">
    <div *ngFor="let day of week" class="day" [class.other-month]="!isSameMonth(day, date)">
      <ng-container *ngIf="isSameMonth(day, date); else emptyDay">
        <span class="date">{{ format(day, 'd') }}</span>
        <div class="event-list">
          <div *ngFor="let event of events[format(day, 'M/d')]">
            <div class="event-container">
              <div class="event-details">
                <div class="time-outer">
                  <div class="time-container">
                    <img src="\assets\icons\time.svg">
                    {{ event.startTime }} - {{ event.endTime }}
                  </div>
                </div>
                <div class="marshal-container">
                  {{ event.marshal }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #emptyDay>
        <!-- Empty gray cell for days not in current month -->
      </ng-template>
    </div>
  </ng-container>
</div>
