<div class="month-grid">
  <div *ngFor="let day of weekDays" class="weekday">{{ day }}</div>
  <ng-container class="week" *ngFor="let week of calendarDays">
    <div *ngFor="let day of week" class="day" [class.other-month]="!isSameMonth(day, date)">
      <ng-container *ngIf="isSameMonth(day, date); else emptyDay">
        <span class="date">{{ format(day, 'd') }}</span>
        <div class="event-list">
          <div class="event-container" *ngFor="let event of events[format(day, 'M/d')]; let i = index" 
               [hidden]="i >= 8">
            <div class="event-details" [routerLink]="['/tickets/edit', event.ticketId]">
              <div class="time-container">
                {{ event.startTime }} - {{ event.endTime }}
              </div>
              <div class="marshal-container">
                {{ event.marshal }}
              </div>
            </div>
          </div>
    
          <div class="more-container" *ngIf="checkmore(day)"
               (mouseover)="showPopover($event, day)">
            + {{ events[format(day, 'M/d')].length - 8 }} more
          </div>
        </div>
      </ng-container>
      <ng-template #emptyDay>
        <!-- Empty gray cell for days not in current month -->
      </ng-template>
    </div>
    
    <!-- Popover container outside of the day loop -->
    <div class="popover message-container" *ngIf="showMore" [style.top.px]="popoverPosition.top" [style.left.px]="popoverPosition.left"  (mouseleave)="hidePopover()">
      <div class="message-container" *ngFor="let event of events[format(currentPopoverDay, 'M/d')].slice(8)">

            {{ event.startTime }} - {{ event.endTime }}
            <div class="message-name">
              {{ event.marshal }}
            </div>
            {{ event.ticketId }}
            <br>
            --
      </div>
    </div>
  </ng-container>
</div>
