<div class="container">
  <div class="main-content">
    <div class="left-content">
      <span class="header">
        Settings
      </span>
      <span class="subheader">
        Account
      </span>
    </div>
    <div class="right-content">
      <div class="title">
        Account
      </div>
      <div class="username">
        <label>Display Name</label>
        <input type="search" id="search-dropdown" class="search-input"
               placeholder="User"/>
      </div>
      <div class="details">
        <div class="email-container">
          <div class="email-title">
            Email
          </div>

          <div class="input-container">
            <label>Current Email</label>
            <input disabled type="search" class="search-input"
                   placeholder="User"/>
          </div>

          <div class="input-container">
            <label>New Email</label>
            <input type="search" class="search-input"
                   placeholder="User"/>
          </div>
        </div>
        <div class="line-border"></div>
        <div class="email-container">
          <div class="email-title">
            Password
            <div class="help-wrapper">
              <img src="/assets/icons/help-12x12.svg" alt="">
            </div>
          </div>

          <div class="strength-wrapper">
            <div class="input-container flex-grow">
              <label>Current Password</label>
              <input [(ngModel)]="password" type="search" class="search-input max-height" placeholder="User"/>
            </div>

            <div class="strength flex-grow">
              <span>Strength</span>
              <div class="bar-container">
                <div class="bar-background"></div>
                <div [style.width]="strengthBarWidth" [ngClass]="{
    'bar-frontground': true,
    'weak-background-color': passwordStrength === 'Weak',
    'medium-background-color': passwordStrength === 'Medium',
    'strong-background-color': passwordStrength === 'Strong'
  }"></div>
              </div>
              <span [ngClass]="{
        'strength-label': true,
        'weak-color': passwordStrength === 'Weak',
        'medium-color': passwordStrength === 'Medium',
        'strong-color': passwordStrength === 'Strong'
      }">{{ passwordStrength }}</span>
            </div>
          </div>


          <div class="input-container">
            <label>New Password</label>
            <input type="search" class="search-input"
                   placeholder="User"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
