<div class="order-container">
  <div class="header">New Work Order</div>
  <div class="order-details-container">
    <div class="order-input-items">
      <label class="order-input-label">Order:</label>
      <select  id="countries" class="form-select">
        <option selected>Select an order</option>
      </select>
    </div>
    <div class="border-line"></div>

    <div class="order-input-items">
      <label class="order-input-label">Category:</label>
      <div class="category-radio">

        <div class="category-item">
          <input id="category-option-1" type="radio" name="categories" value="pickup" checked>
          <label for="category-option-1">
            Pickup
          </label>
        </div>

        <div class="category-item">
          <input id="category-option-2" type="radio" name="categories" value="delivery">
          <label for="category-option-2">
            Delivery
          </label>
        </div>
      </div>

    </div>
    <div class="border-line"></div>

    <div class="order-input-items">
      <label class="order-input-label">Appointment Date:</label>
      <input type="search" class="search-input width-unset"
             placeholder=""/>
    </div>
    <div class="border-line"></div>

    <div class="order-input-items">
      <label class="order-input-label">Marshal:</label>
      <select  class="form-select">
        <option selected>Select a Marshal</option>
      </select>
    </div>
    <div class="border-line"></div>

    <div class="order-input-items">
      <label class="order-input-label">File Upload:</label>
      <input type="search" class="search-input width-unset"
             placeholder=""/>
    </div>
    <div class="border-line"></div>

    <div class="order-input-items">
      <label class="order-input-label">Status:</label>
      <div class="category-filter" role="group">
        @for (item of statusList; track item; let i = $index; let first = $first; let last = $last) {
          <button (click)="onClickStatus(item.type)" type="button"
                  [ngClass]="['btn', item.active ? 'btn-active' : '', first ? 'btn--first' : '', last ? 'btn--last' : '', (!first && !last) ? 'btn--middle' : '']">
            {{ item.type }}
          </button>
        }
      </div>
    </div>

  </div>
  <div class="footer">
    <button class="cancel-button">
      <span>Cancel</span>
    </button>
    <button routerLink="/tickets/new" class="submit-button">
      <span>Submit</span>
    </button>
  </div>
</div>
