<div class="week-view">
  <div *ngFor="let day of weekDays" class="day-slot">
    <div class="day-row">
      <div class="day-number">{{ format(day, 'M/d') }}</div>
      <div class="day-name">{{ day | date: 'EEEE' }}</div>
    </div>
    <div class="event-list">
      <div *ngIf="hasEvents(day); else noEvent">
        <div class="event-container" *ngFor="let event of events[format(day, 'M/d')]">
            <div class="event-details" [routerLink]="['/tickets/edit', event.ticketId]">
              <div class="time-outer">
                <div class="time-container">
                  <img src="\assets\icons\time.svg">
                  {{ event.startTime }} - {{ event.endTime }}
                </div>
              </div>
              <div class="marshal-container">
                {{ event.marshal }}
              </div>
              <div class="ticket-container">Ticket {{ event.ticketId }}</div>
            
          </div>
        </div>
      </div>
      <ng-template #noEvent>
        <div class="no-event">
          No event
        </div>
      </ng-template>
    </div>
  </div>
</div>
