.week-view {
  display: flex;
  flex-direction: column;
}
.day-row {
    text-align: center;
    padding: 10px;
  }
  .day-name {
    font-weight: bold;
  }
  .day-number {
    font-size: 1.2em;
  }
.day-slot{
  display: flex;
  border-bottom: 1px solid #E0E0E0;
}
.event-container{
  background-color: #83EEE980;
  border: 2px solid #3EDCD5;
  border-radius: 16px;
  display: flex;
  .time-container{
    background-color: #F3FFFF;
  }
  .supervisor{
font-weight: 700;
font-size: 16px;

  }
  .ticket{

  }
}