.day-view {
  position: relative;
  height: 100%;
  margin-left: 60px; /* Add left padding for time labels */
}
.time-slots {
  display: flex;
  flex-direction: column;
}

.hour-slot {
  height: 45px;
  position: relative;
  display: flex;
}

.minute-slot {
  height: 1px;
  position: relative;
}

.time-label {
  position: absolute;
  left: -60px; /* Move time labels to the left */
  top: -5px;
  width: 50px;
  text-align: right;
  padding-right: 10px;
  color: #666;
  font-size: 13px;
  font-weight: 400;
}

.minute-line {
  position: absolute;
  left: 0px;
  right: 0;
  border-top: 1px solid #e0e0e0;
}

.current-time-line {
  position: absolute;
  left: 0px;
  right: 0;
  border-top: 2px dashed #2A706B;
  z-index: 1;
}
.event-container {
  position: absolute;
  box-sizing: border-box;
  background-color: #83EEE980;
  border: 2px solid #3EDCD5;
  border-radius: 16px;
  overflow: hidden;
  z-index: 2;
  .event-details {
    padding: 8px 16px 8px 8px;
    display: flex;
    flex-wrap: wrap; /* Allows wrapping */
    .time-outer {
      width: 126px; /* Fixed width for time container */
      flex-shrink: 0; /* Prevents shrinking */
      .time-container {
        display: flex;
        width: fit-content;
        background-color: #F3FFFF;
        padding: 6px 6px 4px 4px;
        border-radius: 6px;
        gap: 8px;
        font-size: 12px;
        align-items: center;
        img{
          width: 18px;
          height: 18px;
        }
      }
    }
    .marshal-container {
      display: inline-block;
      max-width: 100%; /* Ensures the content doesn't overflow its container */
      height: 26px; /* Same height as line-height for vertical centering */
      font-size: 16px;
      font-weight: 700;
      color: #024441;
      flex-grow: 1; 
      line-height: 26px; /* Vertically centers the text */
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; /* Prevents wrapping */
      vertical-align: middle; /* Ensures vertical centering */
    }
    .ticket-container {
      align-self: center; /* Centers content vertically */
      flex-shrink: 0; /* Prevents shrinking */
      font-size: 14px;
      color: #2A706B;
      font-weight: 400;
      line-height: 26px;
    }
  }
}


.event-container:hover{
  background-color: #3EDCD5B2;
}

.overflow-container{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  border-radius: 6px;
  
  .overflow-popup {
    position: absolute;
    right: 5px;
    top: 30px; /* Adjust according to your design */
    background-color: #333333;
    width: max-content;
    z-index: 2;
    .message-container{
      padding: 8px 12px 8px 12px;
      z-index: 100;
      color: #FFFFFF;
      line-height: 16.8px;
      font-size: 12px;
      font-weight: 400;
      .message-name{
        font-weight: 700;
      }
    }
  }
  
  .overflow-container:hover .overflow-popup {
    display: block;
  }
  
  .overflow-popup ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .overflow-popup li {
    padding: 5px 0;
  }
}

.overflow-container:hover{
  background-color: #DCFEFD;
}