

/* Add transition to both classes */
.content-container, .content-container-collapsed {
  transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out; /* Adjust timing and easing as needed */
}

.container {
  position: relative;
  padding: 2.5rem;
  transition: height 0.3s ease-in-out, margin-left 0.3s ease-in-out, width 0.3s ease-in-out;
  min-height: 100vh;
}

.content-container {
  margin-left: 280px;
  width: calc(100% - 280px);
}

.content-container-collapsed {
  margin-left: 90px;
  width: calc(100% - 90px);
}