<div class="calendar-page-container">
    <div class="content-container">
        <div class="title-container">
            <h1>Calendar</h1>
        </div>
        <div class="date-operation-container">
            <div class="date-chosen">
                <div class="date-picker-container">
                    <mat-datepicker-toggle [for]="picker">
                        <img matDatepickerToggleIcon src="assets/icons/calendar-calendar.svg" alt="Calendar">
                      </mat-datepicker-toggle>
                      <div *ngIf="displayDate">
                        <span class="display date">{{ displayDate.datePart }}</span>
                        <span *ngIf="displayDate.dayPart" class="display day"> ({{ displayDate.dayPart }})</span>
                      </div>
                    <mat-datepicker #picker (closed)="onDatePickerClosed()"></mat-datepicker>
                  </div>

            </div>
            <div class="date-btn">
                <button class="left-arrow"><img src="assets/icons/calendar-left-arrow.svg"></button>
                <button class="right-arrow"><img src="assets/icons/calendar-right-arrow.svg"></button>
            </div>
                <div class="current-date">
                    Today
                </div>

                <div class="calendar-format">
                      <mat-button-toggle-group [(ngModel)]="view">
                        <mat-button-toggle class="btn" value="day">Day</mat-button-toggle>
                        <mat-button-toggle class="btn" value="week">Week</mat-button-toggle>
                        <mat-button-toggle class="btn" value="month">Month</mat-button-toggle>
                      </mat-button-toggle-group>
                      
                </div>
            
        </div>
        <div class="date-information-container">
            <div *ngIf="view!='month'" class="marshal-container">
                <div class="marshal-title">
                    <div>MARSHAL</div>
                    <div>ASSIGNMENTS</div>
                </div>
                <div class="marshal-content">
                    <table>
                        <tbody>
                          <tr *ngFor="let marshal of marshalList">
                            <td>{{ marshal.name }}</td>
                            <td>{{ marshal.count }}</td>
                          </tr>
                        </tbody>
                      </table>
                      
                </div>
            </div>
            <div [ngClass]="{ 'full-width': view=='month', 'fixed-width': view!='month' }" class="calendar-container">
                <div class="calendar">
                    <ng-container [ngSwitch]="view" >
                        <app-day-view *ngSwitchCase="'day'" [date]="currentDate" [events]="events"></app-day-view>
                        <app-week-view *ngSwitchCase="'week'" [date]="currentDate" [events]="events"></app-week-view>
                        <app-month-view *ngSwitchCase="'month'" [date]="currentDate" [events]="events"></app-month-view>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>

    <div class="bottom-bar">
        <button class="add-ticket-btn">
            <img src="assets/icons/add.svg">
            <p>New Ticket</p>
        </button>
    </div>
</div>