<div class="calendar-page-container">
    <div class="content-container">
        <div class="title-container">
            <h1>Calendar</h1>
        </div>
        <div class="date-operation-container">
            <div class="date-chosen">
                <div class="date-picker-container">
                  <ng-template #customIcon>
                    <img src="/assets/icons/calendar-green.svg" alt="Calendar Icon" />
                  </ng-template>
                  <div class="day-date-picker" *ngIf="view=='day'">
                    <nz-date-picker
                      class="custom-width-range-picker"
                      [nzAllowClear]="false"
                      [nzSuffixIcon]="customIcon"
                      [(ngModel)]="selectedDate"
                      (nzOnOk)="onOk($event)"
                      [nzFormat]="'yyyy-M-d(EEE)'"
                    >
                    </nz-date-picker>
                  </div>
                  <div class="week-date-picker" *ngIf="view=='week'">
                    <nz-range-picker
                      class="custom-width-range-picker"
                      [nzAllowClear]="false"
                      [nzSuffixIcon]="customIcon"
                      [nzSeparator]="CalendarSeparator"
                      [(ngModel)]="selectedRange"
                      (nzOnOk)="onOk($event)"
                    >
                    </nz-range-picker>
                  </div>
                  <div class="month-date-picker" *ngIf="view=='month'">
                    <nz-month-picker
                      [nzAllowClear]="false"
                      class="custom-width-range-picker"
                      [nzSuffixIcon]="customIcon"
                      [(ngModel)]="selectedMonth"
                      (nzOnOk)="onOk($event)"
                    >
                    </nz-month-picker>
                  </div>
                </div>
            </div>
            <div class="date-btn">
                <button class="left-arrow" (click)="setPrev()"><img src="assets/icons/calendar-left-arrow.svg"></button>
                <button class="right-arrow" (click)="setNext()"><img src="assets/icons/calendar-right-arrow.svg"></button>
            </div>
                <div class="change-today" (click) = "setToday()">
                    Today
                </div>

                <div class="calendar-format">
                      <mat-button-toggle-group [(ngModel)]="view">
                        <mat-button-toggle class="btn" value="day">Day</mat-button-toggle>
                        <mat-button-toggle class="btn" value="week">Week</mat-button-toggle>
                        <mat-button-toggle class="btn" value="month">Month</mat-button-toggle>
                      </mat-button-toggle-group>
                      
                </div>
            
        </div>
        <div class="date-information-container">
            <div *ngIf="view!='month'" class="marshal-container">
                <div class="marshal-title">
                    <div>MARSHAL</div>
                    <div>ASSIGNMENTS</div>
                </div>
                <div class="marshal-content">
                    <table>
                        <tbody>
                          <tr *ngFor="let marshal of marshalList">
                            <td>{{ marshal.name }}</td>
                            <td>{{ marshal.count }}</td>
                          </tr>
                        </tbody>
                      </table>
                      
                </div>
            </div>
            <div [ngClass]="{ 'full-width': view=='month', 'fixed-width': view!='month' }" class="calendar-container">
                <div class="calendar">
                    <ng-container [ngSwitch]="view" >
                        <app-day-view *ngSwitchCase="'day'" [date]="selectedDate" [events]="events"></app-day-view>
                        <app-week-view *ngSwitchCase="'week'" [date]="selectedRange[0]" [events]="events"></app-week-view>
                        <app-month-view *ngSwitchCase="'month'" [date]="selectedMonth" [events]="events"></app-month-view>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>

    <div class="bottom-bar">
        <button class="add-ticket-btn">
            <img src="assets/icons/add.svg">
            <p>New Ticket</p>
        </button>
    </div>
</div>