<div class="order-container">
  <div class="main-content">
    <div class="header">Edit Tickets</div>
    <div class="order-details-container">
      <div class="order-input-items">
        <label class="order-input-label">Order:</label>
        <select  id="countries" class="form-select">
          <option selected>Select an order</option>
        </select>
      </div>
      <div class="border-line"></div>

      <div class="order-input-items">
        <label class="order-input-label">Category:</label>
        <div class="category-radio">

          <div class="category-item">
            <input id="category-option-1" type="radio" name="categories" value="pickup" checked>
            <label for="category-option-1">
              Pickup
            </label>
          </div>

          <div class="category-item">
            <input id="category-option-2" type="radio" name="categories" value="delivery">
            <label for="category-option-2">
              Delivery
            </label>
          </div>
        </div>

      </div>
      <div class="border-line"></div>

      <div class="order-input-items">
        <label class="order-input-label">Appointment Date:</label>
        <ng-template #customIcon>
          <img src="/assets/icons/calendar-green.svg" alt="Calendar Icon" />
        </ng-template>
        <nz-range-picker
          class="custom-width-range-picker"
          [nzSuffixIcon]="customIcon"
          [nzSeparator]="CalendarSeparator"
          [nzRenderExtraFooter]="footerTemplate"
          [(ngModel)]="selectedRange"
          (nzOnOk)="onOk($event)"
        >
        </nz-range-picker>

        <ng-template #footerTemplate>
          <div class="custom-footer" (click)="$event.stopPropagation()">
            <button nz-button nzType="default" (click)="setToday()">Today</button>
            <button nz-button nzType="default" (click)="setTomorrow()">Tomorrow</button>
            <button nz-button nzType="default" (click)="setThisWeek()">This Week</button>
            <button nz-button nzType="default" (click)="setNextWeek()">Next Week</button>
            <button nz-button nzType="default" (click)="cancel()">Cancel</button>
            <button nz-button nzType="primary" (click)="apply()">Apply</button>
          </div>
        </ng-template>
      </div>
      <div class="border-line"></div>

      <div class="order-input-items">
        <label class="order-input-label">Marshal:</label>
        <select  class="form-select">
          <option selected>Select a Marshal</option>
        </select>
      </div>
      <div class="border-line"></div>

      <div class="order-input-items">
        <label class="order-input-label">File Upload:</label>
        <input type="search" class="search-input width-unset"
               placeholder=""/>
      </div>
      <div class="border-line"></div>

      <div class="order-input-items">
        <label class="order-input-label">Status:</label>
        <div class="category-filter" role="group">
          @for (item of statusList; track item; let i = $index; let first = $first; let last = $last) {
            <button (click)="onClickStatus(item.type)" type="button"
                    [ngClass]="['btn', item.active ? 'btn-active' : '', first ? 'btn--first' : '', last ? 'btn--last' : '', (!first && !last) ? 'btn--middle' : '']">
              {{ item.type }}
            </button>
          }
        </div>
      </div>

    </div>
  </div>
  <div class="footer">
    <div class="delete-button" (mousedown)="hoverDelete()" (mouseup)="leaveDelete()" (mouseleave)="leaveDelete()">
      <img *ngIf="!isHoverDelete" style="padding: 8px;" src="/assets/icons/delete-purple.svg" alt="">
      <img *ngIf="isHoverDelete" src="/assets/icons/delete-hover.svg" alt="">
      Delete
    </div>
    <div class="end-button">
      <button (click)="goBack()" class="cancel-button">
        <span>Cancel</span>
      </button>
      <button routerLink="/tickets/new" class="submit-button">
        <span>Submit</span>
      </button>
    </div>
  </div>
</div>
