<div class="order-container">
  <div class="main-content">
    <div class="header">New Vehicle</div>
    <div class="order-details-container">

      <div class="order-input-items">
        <label class="order-input-label">Company Name:</label>
        <input type="search" class="search-input width-unset"
               placeholder=""/>
      </div>
      <div class="border-line"></div>

      <div class="order-input-items">
        <label class="order-input-label">Plate Number:</label>
        <input type="search" class="search-input width-unset"
               placeholder=""/>
      </div>
      <div class="border-line"></div>

      <div class="order-input-items">
        <label class="order-input-label">Make:</label>
        <input type="search" class="search-input width-unset"
               placeholder=""/>
      </div>
      <div class="border-line"></div>

      <div class="order-input-items">
        <label class="order-input-label">Model:</label>
        <input type="search" class="search-input width-unset"
               placeholder=""/>
      </div>
      <div class="border-line"></div>

      <div class="order-input-items">
        <label class="order-input-label">Year:</label>
        <input type="search" class="search-input width-unset"
               placeholder=""/>
      </div>
      <div class="border-line"></div>

      <div class="order-input-items">
        <label class="order-input-label">Mileage:</label>
        <input type="search" class="search-input width-unset"
               placeholder=""/>
      </div>
    </div>
  </div>
  <div class="footer">
    <button class="cancel-button">
      <span>Cancel</span>
    </button>
    <button routerLink="/vehicles/new" class="submit-button">
      <span>Save</span>
    </button>
  </div>
</div>
