<div class="order-container">
  <div class="main-content">
    <div class="header">New User</div>
    <div class="order-details-container">
      <div class="order-input-items">
        <label class="order-input-label">User Name:</label>
        <input type="search" class="search-input width-unset"
               placeholder=""/>
      </div>
      <div class="border-line"></div>

      <div class="order-input-items">
        <label class="order-input-label">Company Name:</label>
        <input type="search" class="search-input width-unset"
               placeholder=""/>
      </div>
      <div class="border-line"></div>

      <div class="order-input-items">
        <label class="order-input-label">User ID:</label>
        <input value="123" type="search" disabled class="search-input width-unset"
               placeholder=""/>
      </div>
      <div class="border-line"></div>

      <div class="order-input-items">
        <label class="order-input-label">Joined Date:</label>
        <input value="123" type="search" class="search-input width-unset"
               placeholder=""/>
      </div>
      <div class="border-line"></div>

      <div class="order-input-items">
        <label class="order-input-label">Department:</label>
        <select  id="countries" class="form-select">
          <option selected>Select an department</option>
        </select>
      </div>
      <div class="border-line"></div>

      <div class="order-input-items">
        <label class="order-input-label">Role:</label>
        <select class="form-select">
          <option selected>Select a role</option>
        </select>
      </div>

    </div>
  </div>
  <div class="footer">
    <button class="cancel-button">
      <span>Cancel</span>
    </button>
    <button routerLink="/tickets/new" class="submit-button">
      <span>Save</span>
    </button>
  </div>
</div>
