<div class="order-container">
  <div class="header">Approvals</div>
  <div class="main-content">
    <label class="search-label" for="search-dropdown">Search for vehicles</label>
    <div class="table-top">
      <div class="search-container">
        <div class="search-input-container">
          <input type="search" id="search-dropdown" class="search-input"
                 placeholder=""
                 [(ngModel)]="searchQuery" (ngModelChange)="onSearch()"
                 [ngModelOptions]="{standalone: true}"/>
          <button *ngIf="!isSearching" type="submit" class="search-button">
            <img src="/assets/icons/search.svg" alt="">
            <span class="sr-only">Search</span>
          </button>
          <button (click)="clearSearch()" *ngIf="isSearching" type="submit" class="search-button">
            <img src="/assets/icons/clear-input.svg" alt="">
            <span class="sr-only">Search</span>
          </button>
        </div>
      </div>
      <ng-template #customIcon>
        <img src="/assets/icons/calendar-green.svg" alt="Calendar Icon" />
      </ng-template>
      <nz-range-picker
        class="custom-width-range-picker"
        [nzSuffixIcon]="customIcon"
        [nzSeparator]="CalendarSeparator"
        [nzRenderExtraFooter]="footerTemplate"
        [(ngModel)]="selectedRange"
        (nzOnOk)="onOk($event)"
        [nzAllowClear]="false"
      >
      </nz-range-picker>

      <ng-template #footerTemplate>
        <div class="custom-footer" (click)="$event.stopPropagation()">
          <button nz-button nzType="default" (click)="setToday()">Today</button>
          <button nz-button nzType="default" (click)="setTomorrow()">Tomorrow</button>
          <button nz-button nzType="default" (click)="setThisWeek()">This Week</button>
          <button nz-button nzType="default" (click)="setNextWeek()">Next Week</button>
          <button nz-button nzType="default" (click)="cancel()">Cancel</button>
          <button nz-button nzType="primary" (click)="apply()">Apply</button>
        </div>
      </ng-template>
      <div (click)="onFilter()" class="filter-container">
        <img src="/assets/icons/filter.svg" alt="">
        Filters {{totalFilter == 0 ? '' : '(' + totalFilter + ')'}}
      </div>
    </div>
    <div class="order-table-container">
      <table class="order-table">
        <thead class="order-table-head">
        <tr>
          <th scope="col" class="order-table-header"><input type="checkbox" class="custom-checkbox"></th>
          <th scope="col" class="order-table-header">
            <div class="order-table-header-content">
              Date
              <a href="#">
                <svg class="order-table-icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                     viewBox="0 0 24 24">
                  <path
                    d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"/>
                </svg>
              </a>
            </div>
          </th>
          <th scope="col" class="order-table-header">
            <div class="order-table-header-content">
              Item
              <a href="#">
                <svg class="order-table-icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                     viewBox="0 0 24 24">
                  <path
                    d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"/>
                </svg>
              </a>
            </div>
          </th>
          <th scope="col" class="order-table-header">
            <div class="order-table-header-content">
              Value
              <a href="#">
                <svg class="order-table-icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                     viewBox="0 0 24 24">
                  <path
                    d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"/>
                </svg>
              </a>
            </div>
          </th>
          <th scope="col" class="order-table-header">
            <div class="order-table-header-content">
              Placeholder Column
              <a href="#">
                <svg class="order-table-icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                     viewBox="0 0 24 24">
                  <path
                    d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"/>
                </svg>
              </a>
            </div>
          </th>
        </tr>
        </thead>
        <tbody class="order-table-body">
        <tr *ngFor="let item of filteredWorkOrders" class="order-table-row">
          <th scope="row" class="order-table-data order-table-data-bold"><input type="checkbox" class="custom-checkbox"></th>
          <td class="order-table-data">{{ item.date }}</td>
          <td class="order-table-data">{{ item.item }}</td>
          <td class="order-table-data">{{ item.value }}</td>
          <td class="order-table-data">{{ item.placeholder }}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="order-table-footer">
      <select class="select-total" name="totalItems" id="">
        <option value="20">20 items</option>
      </select>
      <div class="border-line"></div>
      <span class="footer-text">1678 Totals</span>
      <div class="border-line"></div>
      <div class="pagination-container">
        <span class="total-items">1 - 20</span>
        <div class="pagination-button">
          <div class="left-button"><img height="20" width="20" src="/assets/icons/left-arrow.svg" alt=""></div>
          <div class="right-button"><img height="20" width="20" src="/assets/icons/right-arrow.svg" alt=""></div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <button class="export-button">
      <img src="/assets/icons/export.svg" alt="">
      <span>Export</span>
    </button>
    <button class="export-button">
      <img src="/assets/icons/reject.svg" alt="">
      <span>Reject</span>
    </button>
    <button routerLink="/approvals" class="new-order-btn">
      <img src="/assets/icons/approve.svg" alt="">
      <span>Approve</span>
    </button>
  </div>
</div>


<div *ngIf="isFiltering" (click)="isFiltering = !isFiltering" class="modal-overlay">
  <div *ngIf="isFiltering" id="crud-modal" tabindex="-1" aria-hidden="true" class="modal">
    <div class="modal-container" (click)="$event.stopPropagation()">
      <!-- Modal content -->
      <div class="modal-content">
        <!-- Modal header -->
        <div class="modal-header">
        <span class="modal-title">
          Filters
        </span>
          <button (click)="isFiltering = !isFiltering" type="button" class="modal-close-btn"
                  data-modal-toggle="crud-modal">
            <img src="/assets/icons/close.svg" alt="">
            <span class="sr-only">Close modal</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="price-container">
            <span class="price-title">Price Range</span>
            <div class="price-input">

              <div class="search-input-container">
                <input [(ngModel)]="minPrice" (ngModelChange)="filterByPrice()" type="search" class="search-input width-unset"
                       placeholder=""/>
                <button type="submit" class="search-button">
                  <img height="15" width="15" src="/assets/icons/dollar.svg" alt="">
                  <span class="sr-only">Search</span>
                </button>
              </div>

              <img src="/assets/icons/none.svg" alt="">
              <div class="search-input-container">
                <input [(ngModel)]="maxPrice" (ngModelChange)="filterByPrice()" type="search" class="search-input width-unset"
                       placeholder=""/>
                <button type="submit" class="search-button">
                  <img height="15" width="15" src="/assets/icons/dollar.svg" alt="">
                  <span class="sr-only">Search</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="cancel-button">
            <span>
            Cancel</span>
          </div>
          <div (click)="filterByPrice()" class="update-button">
            <span>Update</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

