<aside class="sidebar" id="sidebar">
  <div class="sidebar-header">
    <div class="logo-container">
      <img width="70" height="60" class="logo" src="/assets/icons/logo.svg" alt="">
    </div>
    <div class="sidebar-button-container">
      <div class="sidebar-button">
        <img width="24" height="24" src="/assets/icons/help.svg" alt="">
      </div>
      <div class="sidebar-button">
        <img width="24" height="24" src="/assets/icons/settings.svg" alt="">
      </div>
      <div class="sidebar-button">
        <img width="34" height="34" src="/assets/icons/user.svg" alt="">
      </div>
    </div>
  </div>
  <div class="sidebar-content">
    <ul>
      <li *ngFor="let item of menuItems">
        <a
        [routerLink]="item.link"
        [ngClass]="['menu-link', isActiveLink(item.link) ? 'menu-selected' : '']"
        [class.no-hover]="isActiveLink(item.link)"
        class="menu-link"
        >
        <img width="24" height="24" [src]="'/assets/icons/' + (isActiveLink(item.link) ? item.icon + '-selected.svg' : item.icon + '.svg')" alt="">
        <span class="menu-title">{{ item.title }}</span>
        </a>
      </li>
      <!-- More menu items... -->
    </ul>
  </div>
</aside>
