<div [ngClass]="[isCollapsed ? 'collapse-btn' : 'expand-btn']" (click)="onCollapsed()" class="collapse-btn">
  <img *ngIf="!isCollapsed" src="/assets/icons/collapse.svg" alt="">
  <img *ngIf="isCollapsed" src="/assets/icons/expand.svg" alt="">
</div>
<aside [ngClass]="[isCollapsed ? 'sidebar-collapsed' : 'sidebar']" id="sidebar">
  <div class="sidebar-header">
    <div class="logo-container">
      <img width="70" height="60" class="logo" src="/assets/icons/logo.svg" alt="">
    </div>
    <div class="sidebar-button-container">
      <div class="sidebar-button">
        <img width="24" height="24" src="/assets/icons/help.svg" alt="">
      </div>
      <div routerLink="/settings" class="sidebar-button">
        <img width="24" height="24" src="/assets/icons/settings.svg" alt="">
      </div>
      <div class="sidebar-button">
        <img width="34" height="34" src="/assets/icons/user.svg" alt="">
      </div>
    </div>
  </div>
  <div [ngClass]="[isCollapsed ? 'sidebar-content-collapsed': 'sidebar-content']" class="">
    <ul>
      <li *ngFor="let item of menuItems">
        <a
        [routerLink]="item.link"
        [ngClass]="['menu-link', isActiveLink(item.link) ? 'menu-selected' : '']"
        [class.no-hover]="isActiveLink(item.link)"
        class="menu-link"
        >
        <img width="24" height="24" [src]="'/assets/icons/' + (isActiveLink(item.link) ? item.icon + '-selected.svg' : item.icon + '.svg')" alt="">
        <span class="menu-title">{{ item.title }}</span>
        </a>
      </li>
      <li class="dropdown-menu" (click)="toggleResources()">
        <img [ngClass]="{'rotate': isResourcesOpen}" src="/assets/icons/dropdown-right.svg" alt="">
        <img width="24" height="24" src="/assets/icons/resources.svg" alt="">
        <span class="menu-title">Resources</span>
      </li>
      <ul class="resources-submenu" [ngClass]="{'show': isResourcesOpen}">
        <div class="active-submenu-wrapper">
          <li *ngFor="let item of resourcesSubmenuItems" [ngClass]="[isActiveLink(item.link) ? 'active-submenu' : 'non-active-submenu']">
            <a [routerLink]="item.link">
              {{item.title}}
            </a>
          </li>
        </div>
      </ul>
      <!-- More menu items... -->
    </ul>
  </div>
</aside>
