.order-container{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}

.header{
  padding: 24px 0.25rem;
  grid-column-start: 1;
  grid-column-end: 13;
  font-family: SDMetro, sans-serif !important;
  font-size: 19px;
  font-weight: 400;
  line-height: 33px;
  text-align: left;
  color: #4F4F4F;
}

.order-table-container {
  grid-column-start: 1;
  grid-column-end: 12;
  position: relative;
  overflow-x: auto;
  box-shadow: 0 4px 10px 0 #0000001A;
  border-radius: 0.5rem;
}

.order-table {
  width: 100%;
  text-align: left;
  font-size: 0.875rem;
  color: #333333;
  border-collapse: collapse;
}

.order-table-head {
  text-transform: uppercase;
  background-color: #4F4F4F;
  color: white;
  font-family: SDMetro, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
}

.order-table-header {
  padding: 1rem;
  border-left: 1px solid #6B6B6B
}

.order-table-header-content {
  display: flex;
  align-items: center;
}

.order-table-icon {
  width: 0.75rem;
  height: 0.75rem;
  margin-left: 0.375rem;
}

.order-table-sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.order-table-body {
  background-color: #fff;
}

.order-table-data {
  padding: 1rem;
  border-bottom: 1px solid #d1d5db;
}

.order-table-data-bold {
  font-weight: 500;
  white-space: nowrap;
}

.order-table-edit {
  font-weight: 500;
  color: #3b82f6;
  text-decoration: none;
  text-align: left;
}

.order-table-edit:hover {
  text-decoration: underline;
}

.order-table-row:nth-child(even) {
  background-color: white;
  color: #333333;
}

.order-table-row:nth-child(odd) {
  background-color: #F2F2F2;
  color: #333333;
}


