<div class="order-container">
  <div class="main-content">
    <div class="header">New Workshop</div>
    <div class="order-details-container">

      <div class="order-input-items">
        <label class="order-input-label">Company Name:</label>
        <input type="search" class="search-input width-unset"
               placeholder=""/>
      </div>
      <div class="border-line"></div>

      <div class="order-input-items">
        <label class="order-input-label">Address:</label>
        <textarea rows="5"
                  cols="20" class="search-input width-unset"
                  placeholder=""></textarea>
      </div>
      <div class="border-line"></div>

      <div class="order-input-items">
        <label class="order-input-label">Phone:</label>
        <input type="search" class="search-input width-unset"
               placeholder=""/>
      </div>
      <div class="border-line"></div>

      <div class="order-input-items">
        <label class="order-input-label">Email:</label>
        <input type="search" class="search-input width-unset"
               placeholder=""/>
      </div>
      <div class="border-line"></div>

      <div class="order-input-items">
        <label class="order-input-label">Category:</label>
        <div class="category-radio">

          <div class="category-item">
            <input id="category-option-1" type="radio" name="categories" value="Active" checked>
            <label for="category-option-1">
              Active
            </label>
          </div>

          <div class="category-item">
            <input id="category-option-2" type="radio" name="categories" value="Inactive">
            <label for="category-option-2">
              Inactive
            </label>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="footer">
    <button class="cancel-button">
      <span>Cancel</span>
    </button>
    <button routerLink="/workshops/new" class="submit-button">
      <span>Save</span>
    </button>
  </div>
</div>
