<div class="order-container">
  <div class="main-content">
    <div class="header">New Branch</div>
    <div class="order-details-container">
      <div class="order-input-items">
        <label class="order-input-label">Branch Name:</label>
        <input type="search" class="search-input width-unset"
               placeholder=""/>
      </div>
      <div class="border-line"></div>

      <div class="order-input-items">
        <label class="order-input-label">Branch Code:</label>
        <input type="search" class="search-input width-unset"
               placeholder=""/>
      </div>
      <div class="border-line"></div>

      <div class="order-input-items">
        <label class="order-input-label">Address:</label>
        <input type="search" class="search-input width-unset"
               placeholder=""/>
      </div>
      <div class="border-line"></div>

      <div class="order-input-items">
        <label class="order-input-label">City:</label>
        <input value="123" type="search" disabled class="search-input width-unset"
               placeholder=""/>
      </div>
      <div class="border-line"></div>

      <div class="order-input-items">
        <label class="order-input-label">Postcode:</label>
        <input value="123" type="search" class="search-input width-unset"
               placeholder=""/>
      </div>
      <div class="border-line"></div>

      <div class="order-input-items">
        <label class="order-input-label">State:</label>
        <input value="123" type="search" class="search-input width-unset"
               placeholder=""/>
      </div>
      <div class="border-line"></div>

      <div class="order-input-items">
        <label class="order-input-label">Coordinates:</label>
        <input value="123" type="search" class="search-input width-unset"
               placeholder=""/>
      </div>
    </div>
  </div>
  <div class="footer">
    <button class="cancel-button">
      <span>Cancel</span>
    </button>
    <button routerLink="/tickets/new" class="submit-button">
      <span>Save</span>
    </button>
  </div>
</div>
