<div class="order-container">
  <div class="main-content">
    <div class="header">New Authorizer</div>
    <div class="order-details-container">

      <div class="order-input-items">
        <label class="order-input-label">User:</label>
        <select  id="countries" class="form-select">
          <option selected>Select a user</option>
        </select>
      </div>
      <div class="border-line"></div>

      <div class="order-input-items">
        <label class="order-input-label">Orders:</label>
        <select class="form-select">
          <option selected>Select an order</option>
        </select>
      </div>
      <div class="border-line"></div>

      <div class="order-input-items">
        <label class="order-input-label">Quotations:</label>
        <select class="form-select">
          <option selected>Select a quotations</option>
        </select>
      </div>

    </div>
  </div>
  <div class="footer">
    <button class="cancel-button">
      <span>Cancel</span>
    </button>
    <button routerLink="/tickets/new" class="submit-button">
      <span>Save</span>
    </button>
  </div>
</div>
